body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: purple;
    width: 100vw;
    height: 50px;
}

a{
    background-color: purple;
    color:aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    margin: 0px 10px 0px 10px;
    padding: 13px 5px 13px 5px;
}

a:hover{
    background-color: rgb(62, 5, 62);
}

form{
    background-color: antiquewhite;
    width: 250px;
    height: 260px;
    margin: 150px 100px 0px 600px;
    border-radius: 10px;
    border: solid black 2px;

}

#dropdown{
    background-color: azure;
    border: solid black 2px;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 3px;
    margin-left: 25px;
    width: 200px;
    height: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    cursor: pointer;
    margin: 7px 10px 10px 62px;
    width: 120px;
    height: 36px;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: blue;
    border-radius: 19px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}