<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="l_upload_marks.css">
    <title>Upload Marks</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="contents">
                <a href="l_dashboard.html">Dashboard</a>
                <a href="l_upload_marks.html">Upload Marks</a>
            </div>
        </div>

        <form action="upload.html">
            <div class="dropdown">
                <select id="dropdown" name="dropdown" required>
                    <option value="" disabled selected>Select Course</option>
                    <option value="option1">CSE Regular</option>
                    <option value="option2">CSE IDP</option>
                    <option value="option3">CSE IDDMP</option>
                    <option value="option4">CSM Regular</option>
                    <option value="option5">CSM IDP</option>
                </select>
                <br>
                <select id="dropdown" name="dropdown" required>
                    <option value="" disabled selected >Select Year</option>
                    <option value="option1">I</option>
                    <option value="option2">II</option>
                    <option value="option3">III</option>
                    <option value="option4">IV</option>
                </select>
                <br>
                <select id="dropdown" name="dropdown" required>
                    <option value="" disabled selected >Select Semester</option>
                    <option value="option1">1</option>
                    <option value="option2">2</option>
                </select>
                <br>
                <select id="dropdown" name="dropdown" required>
                    <option value="" disabled selected >Select Examination</option>
                    <option value="option1">MID I</option>
                    <option value="option2">MID II</option>
                    <option value="option3">End Semester</option>
                </select>
            </div>
            <br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>