<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="select.css">
    <title>Role Selection</title>
</head>

<body>
    <h1>Welcome!!</h1>
    <div class="select">
        <h2>Select login</h2>
        <div class="stdl">
        <a href="s_login.html">Student</a><br><br><br>
    </div>
        <a href="l_login.html">Professor</a>
    </div>
</body>

</html>