<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="upload.css">
    <title>Upload Marks</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="contents">
                <a href="l_dashboard.html">Dashboard</a>
                <a href="l_upload_marks.html">Upload Marks</a>
            </div>
        </div>
    

        <div class="form">
            <form action="#">
                <div class="table">
                    <div class="tbl1">
                        <table>
                            <thead>
                                <tr>
                                    <th>Roll No.</th>
                                    <th>Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>22011A6659</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6601</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6602</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6603</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6604</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6605</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6606</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6607</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6608</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6609</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6610</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6611</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6612</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6613</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6614</td>
                                    <td><input type="text"></td>
                                </tr>
        
                            </tbody>
                        </table>
                    </div>
                        <br>
                        <div class="tbl2">
                        <table>
                            <thead>
                                <tr>
                                    <th>Roll No.</th>
                                    <th>Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>23011A6615</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6616</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6617</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6618</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6619</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6620</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6621</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6622</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6623</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6624</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6625</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6626</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6627</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6628</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>23011A6629</td>
                                    <td><input type="text"></td>
                                </tr>
        
                            </tbody>
                        </table>
                    </div>
                </div>
                <button>Submit</button>
            </form>
        </div>

    </div>
</body>

</html>